.git
.github
.local
.pytest*
.venv
**/.env
**/.env.*
!**/.env.example
**/.pytest_cache
**/__pycache__
**/*.py[cod]
backend/.venv
backend/storage
docker-exports
demo/output
demo/runtime
frontend/dist
frontend/node_modules
node_modules
